body {
  font-family: helvetica, arial, "Sans Serif";
  font-weight: 300;
  color: #666;
  height:100%;
}
footer{
  font-family: helvetica, arial, "Sans Serif";
  font-size: 8pt;  
  font-weight: 300;
  color: #ccc;
  padding: 40px 10px;  
  opacity: 0.8;
}
.sidebar footer ul li{
  padding-left:2px;
  padding-right:2 px;
}
.sidebar footer ul li:hover{
  background-color: transparent;
  color: rgb(3, 169, 244);
}
.navbar-default {
  background-color: rgb(3, 169, 244); 
  border-style:none;
  border-radius:0;   
  box-shadow: 0px 1px 10px #555;
  height: 60px;
  padding-top: 5px;
  padding-left: 13px;
}
.navbar-default .navbar-brand {
  color: #f9fdff; 
  margin-right: 80px;
  padding: 4px 10px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #f9fdff;
}
.navbar-default .navbar-nav > li > a {  
  color: #f9fdff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #00664b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #00664b;
}
.navbar-default .navbar-toggle {
  border-color: #00664b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #00664b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f9fdff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f9fdff;
}
.navbar-default .navbar-link {
  color: #f9fdff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9fdff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #00664b;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  min-height: 100%;
  min-width: 200px;
  /*background-color: black;*/
  /*background-color: rgb(255,127,14);*/
  background-color: #232323;
  border-radius: 0;
  border-style: none; 
  padding-left: 10px;
  padding-right: 30px;
  box-shadow: 0px 1px 10px #555;
  /*border-bottom: 150px solid rgb(3, 169, 244);  */
}
.sidebar ul {  
  display: inline;
  margin: 0;  
  list-style-type: none;
  text-align: left;
}
.sidebar ul li {
  line-height: 30px;
  /*border-bottom: 1px solid white;*/
  /*border-bottom: 1px solid rgb(3, 169, 244);*/
}
.sidebar ul li:hover{
  /*background-color: rgb(3, 169, 244);*/
  /*background-color: #232323;*/
  background-color: #ccc;
}
.sidebar ul li a {  
  margin-left: 15px;
  display:block;
  font-size: 11pt;    
  color: white;
  /*color: rgb(3, 169, 244);*/
}
.sidebar ul li a:hover {
  /*color: white; */
  color: rgb(3, 169, 244);
  color: black;
  text-decoration: none;
}
 /*  div below nav */
#below-nav {
  background-color: transparent;
  height: 50px;
  margin-top: 20px;

}

/*Input*/
hr{
  margin: 8px 0px;
}
input{      
    border:1px solid rgb(3, 169, 244); 
    font-size: 14px;    
    padding:5px;
    /*margin-top:-10px; */
    color: rgb(3, 169, 244);         
}
#main-container {
  top:80px;
  left:200px;
  width: 80%;
  padding-left: 100px;
}

/*.btn-custom {  
  background-color: #888;  
  border-radius: 0px; 
  border-style: none;
  color: white;
  font-family: helvetica, arial, "Sans Serif";
  font-weight: 200;  
}
.btn-custom2 {  
  background-color: white;  
  border-radius: 0px; 
  border: 1px solid #888;
  color: #888;
  font-family: helvetica, arial, "Sans Serif";
  font-weight: 200;  
}*/
.btn-buy {
  background-color: rgb(3, 169, 244);
  border-radius: 0px; 
  border-style: none;
  color: white;
  font-family: helvetica, arial, "Sans Serif";
  font-weight: 200;    
}

.btn-like {  
  background-color: white;  
  border-radius: 0px; 
  border: 1px solid rgb(3, 169, 244);
  color: rgb(3, 169, 244);
  font-family: helvetica, arial, "Sans Serif";
  font-weight: 200;    
}

h4 a {
  /*color: rgb(255,127,14);*/
  color:  rgb(3, 169, 244);
}
h4 a:hover {
  color: rgb(255,127,14);
  text-decoration: none;
}


.itemcard {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 20px;  
  background-color: #f9f9f9;
  padding:1px 1px 1px 1px;
  box-shadow: 0px 0.5px 6px #ccc;
  /*border-top: 5px solid rgb(3, 169, 244);*/
  border-bottom: 5px solid rgb(3, 169, 244);
  line-height: 10px;
}


.item-description h5{
  max-height: 28px;
  min-height: 28px;
}

.item-description a{
  font-size:13px;
  color:gray;
}
.item-description p{
  line-height: 8px;
  font-size: 15px;
}
.item-description,.item-pricehist {
  line-height: 8pt;
  margin-top: 10px;
}

.user-comment{
  background-color: #CCC;
  padding-left: 3px;
}



