<!DOCTYPE html>
<html ng-app='app' lang="en-US">
<head>
	<meta charset="utf-8">  <!-- it's important for d3.js -->	
	<link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">
	<link href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="assets/css/theme.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="assets/img/stylesteal_favicon.png">
	<style>		
	</style>

</head>

<body ng-controller="mainController">
	<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">	      	      
	      <a href="#home" class="navbar-brand"><img src="assets/img/stylesteal_logo.png" width="150" alt="STYLE STEAL"></a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->	    
	    <div class="collapse navbar-collapse">	      
	      <ul class="nav navbar-nav">
	        <li><a href="#track">TRACK PRICES<span class="sr-only">(current)</span></a></li>
	        <li><a href="#deals">FIND DEALS</a></li>
	        <li ng-if="currentUser"><a href="#watchlist">MY WATCH LIST</a></li>
	      </ul>	
	      <ul class="nav navbar-nav navbar-right">
	        <li ng-if="!currentUser"><a href="#login">Log In</a></li>	        
	        <li ng-if="!currentUser"><a href="#">Sign up</a></li>	        
	        <li ng-if="currentUser"><a>Welcome, <span ng-bind="currentUser.name"></span></a></li>
	        <li ng-if="currentUser"><a href="#logout" ng-click="logout()" >Log Out</a></li>
	      </ul>	    	  	  
	    </div><!-- /.navbar-collapse -->	  
	  </div><!-- /.container-fluid -->
	</nav>
	</div>
	<div class="row" id="below-nav"></div>	

	<div class="container" id="main-container">
		<div login-dialog ng-if="!isLoginPage"></div>
		<div ui-view></div>
	</div>	

	<div class="sidebar">
		<!-- Start Brand Filter-->		
		<ul>
			<p><h5><strong>BRAND</strong></h5></p>
			<hr/>
	        <li><a href="#" ng-click='search_params.brand="forever21";search_params.category="f21";'>Forever 21</a></li>	        
	        <li><a href="#" ng-click='search_params.brand="jcrew";search_params.category="sale";'>J. Crew</a></li>	     	        
	        <li><a href="#">J. Crew Factory</a></li>
	        <li><a href="#">Ann Taylor<span class="sr-only">(current)</span></a></li>
	    </ul>	
	    <!-- Start Filter-->
	    <ul>
	    	<p><h5><strong>FILTER</strong></h5></p>
			<hr/>			
	    </ul>
	    <!-- Start Watchlist-->
	    <ul>
	    	<p><h5><strong>MY WATCHLIST</strong></h5></p>
			<hr/>		
	    </ul>
	    <footer class="navbar-fixed-bottom">	    	
	    	<div class="row">
	    		<div class="col-md-12">
	    			<ul class="list-inline">
			    		<li>&copy; 2015 STYLE STEAL</li>		    		
			    	</ul>
			    </div>
		    </div>
	    	<div class="row">
	    		<div class="col-md-12">
			    	<ul class="list-inline">
			    		<li>About</li>
			    		<li>Terms</li>
			    		<li>Blog</li>			    		
			    		<li>Contact</li>
			    	</ul>		    	
		    	</div>
		    </div>
		    <div class="row">
	    		<div class="col-md-12">
	    			<ul class="list-inline">	    				
			    		<li><i class="fa fa-facebook-square"></i></li>
			    		<li><i class="fa fa-twitter"></i></li>
			    		<li><i class="fa fa-pinterest"></i></li>			    		
			    		<li><i class="fa fa-instagram"></i></li> 		
			    		<li><i class="fa fa-envelope-o"></i></li>
			    	</ul>
			    </div>
		    </div>	    
	    </footer>
	</div>	
	<!-- Import Javascrips -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
	<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="assets/bower_components/angularjs/angular.min.js"></script>
	<script src="assets/bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/d3/d3.js"></script>
	<script src="bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
	<!--<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>-->	


	<!-- Custom JavaScript -->	
	<script src="app/app.module.js"></script>
	<script src="app/app.routes.js"></script>
	<script src="app/shared/chart.options.js"></script>	
	<script src="app/shared/esService.js"></script>	
	<script src="app/components/trackPrice/trackPriceController.js"></script>	
	<!-- Input Login JavaScript -->
	<script src="app/shared/login/loginController.js"></script>
	<script src="app/shared/login/authService.js"></script>	
	<script src="app/shared/login/session.js"></script>	
	<script>
		app.controller('mainController', ['$scope', 'esClient', 'AuthService', 'AUTH_EVENTS', 
			'USER_ROLES',  'Session', 
			function($scope, esClient, AuthService, AUTH_EVENTS, USER_ROLES, Session) {
			$scope.search_params = {				
				'brand': 'forever21',
				'category': 'f21',
			}

			$scope.currentUser = null;	
			$scope.userRoles = USER_ROLES;
			$scope.isAuthorized = AuthService.isAuthorized;
			$scope.setCurrentUser = function (user) {
				$scope.currentUser = user;
				console.log($scope.currentUser);
			};
			$scope.logout = function(){
				$scope.currentUser = null;
				$scope.userRoles = null;	
				Session.destroy();			
				$scope.$broadcast(AUTH_EVENTS.logoutSuccess);
			}
		}]);
	</script>
</body>
</html>