<div class="row">
	<div class="col-md-6">	
		<h4>Please Login</h4>		
	</div>
</div>

<div class="row">
	<div class="col-md-12"> 
		<form name="loginForm" ng-submit="login(credentials)">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label"> Email: </label>
				<input type="text"
					   id="username"
					   required
					   ng-model="credentials.email">
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Password:</label>
				<input type="password"
					   id="password"
					   required
					   ng-model="credentials.password">
			</div>
			<div class="form-group">
				<div class="col-md-4"> 
					<button class="btn btn-like" type="submit">Login</button>
					<button class="btn btn-like" type="reset">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">	
	<div class="col-md-12"> 
		<hr/>
		<p>Don't have an account yet? Please <a href="#signup">sign up</a></p>
	</div>	
</div>